* {
    box-sizing: border-box;
}
hr {
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-right: 0px;
    border: 1px solid #bbb;
    border-bottom-width: 0px;
}
#mainScreen {
    width: 100vw;
    height: 100vh;
}
.joinGameColFlex > * {
    margin-top: 15px;
}
.joinGameColFlex > span {
    margin-right: 5px;
    font-size: 13pt;
}
.serverMessage {
    font-size: 24pt;
    display: inline-block;
    padding-top: 50px;
}
#txtCode, #txtName, #inputAnswer {
    border-radius: 8px;
    padding: 5px;
    border: 1px solid #a1a1a1;
    font-size: 13pt;
    width: 200px;
}
#inputAnswer {
    width: 90vw;
    text-align: center;
    margin-bottom: 15px;
}
input[type="button"] {
    border-radius: 10px;
    padding: 7px 30px;
    border: 1px solid black;
    background-color: green;
    color: white;
    font-size: 15pt;
}
input[type="button"]:hover {
    cursor: pointer;
    background-color: #2a2;
}
#btnHostGame {
    color: black;
    font-size: 13pt;
    padding: 3px 5px;
}
#btnJoinGame {
    margin-top: 25px;
}
#hostAnswerList {
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #bbb;
}
#hostAnswer {
    font-size: 22pt;
    overflow-wrap: break-word;
}
#titleMakeGuess, #titleEnterAnswer {
    font-size: 24pt;
    display: inline-block;
    width: 100vw;
    text-align: center;
    height: 10vh;
}
#btnMakeGuess {
    height: 10vh;
}
.guessPlayer, .guessAnswer {
    border: 1px solid black;
    padding: 5px;
    padding-left: 35px;
    position: relative;
    margin: 5px 5px;
    border-radius: 6px;
    font-size: 14pt;
    overflow-wrap: break-word;
}
.guessPlayer.out, .guessAnswer.out {
    text-decoration-line: line-through;
}
.guessPlayer::before, .guessAnswer::before {
    content: ' \2713';
    display: inline-block;
    position: absolute;
    left: 3px;
    bottom: 3px;
    color: #aaa;
    font-weight: 900;
    border: 1px solid #aaa;
    border-radius: 50%;
    padding: 0px 3.5px 6px 2.5px;
    height: 20px;
    width: 20px;
    margin-right: 3px;
}
.guessPlayer.selected::before, .guessAnswer.selected::before {
    color: #00d;
    border: 1px solid #00d;
}
.playerName {
    font-size: 15pt;
    padding: 0px 0px 3px 0px;
}
.playerScore {
    background-color: #060;
    border-radius: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px 20px;
    line-height: 18px;
    padding-bottom: 3px;
    margin: 0 auto;
    color: #fff;
    border: 2px solid #000;
}
.guessingHat {
    position: absolute;
    top: -110px;
    background-image: url(/images/guessingHat.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100px;
    padding: 15px;
    margin: 0px -15px;
}